<h2>Login</h2>

<input
  type="text"
  [(ngModel)]="username"
  placeholder="Username"
  required
  #usernameInput="ngModel"
/>

@if (usernameInput.invalid && usernameInput.touched)
{
  <div>
  Username is required.
</div>
}

<br><br>

<input
  type="password"
  [(ngModel)]="password"
  placeholder="Password"
  required
  #passwordInput="ngModel"
/>

@if (passwordInput.invalid && passwordInput.touched)
{
  <div>
  Password is required.
</div>
}

<br><br>

<button (click)="login()">
  Login
</button>