<div class="login-container">
  <div class="login-card">

<h2>Login</h2>

<label for="username">Username:</label>
<input
  type="text"
  [(ngModel)]="username"
  name="username"
  required
  minlength="3"
  maxlength="50"
  #usernameInput="ngModel"
  placeholder="Enter username"
  (keyup.enter)="login()"
/>

@if (usernameInput.invalid && usernameInput.touched)
{
  <div>
  Username is required.
</div>
}

@if (usernameInput.errors?.['minlength']) {
      Minimum 3 characters
    }

<br><br>

<label for="password">Password:</label>
<input
  type="password"
  [(ngModel)]="password"
  required
  minlength="6"
  #passwordInput="ngModel"
  placeholder="Enter password"
  (keyup.enter)="login()"
/>

@if (passwordInput.invalid && passwordInput.touched)
{
  <div>
  Password is required.
</div>
}
 @if (passwordInput.errors?.['minlength']) {
      Minimum 6 characters
    }

<br><br>

<button
      (click)="login()"
      [disabled]="
        usernameInput.invalid ||
        passwordInput.invalid ||
        loading
      "
    >
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>

  </div>

</div>