<div class="login-container">
  <div class="login-card">

    <form (ngSubmit)="login()">

      <h2>{{ 'LOGIN' | translate }}</h2>

      <label for="username">{{ 'USERNAME' | translate }}:</label>
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        minlength="3"
        maxlength="50"
        #usernameInput="ngModel"
        placeholder="{{ 'ENTER_USERNAME' | translate }}"
        (keyup.enter)="login()"
      />

      @if (usernameInput.invalid && usernameInput.touched)
      {
        <div>
        {{ 'USERNAME_REQUIRED' | translate }}
      </div>
      }

      @if (usernameInput.errors?.['minlength']) {
            {{ 'USERNAME_TOO_SHORT' | translate }}
          }

      <br><br>

      <label for="password">{{ 'PASSWORD' | translate }}:</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        minlength="6"
        #passwordInput="ngModel"
        placeholder="{{ 'ENTER_PASSWORD' | translate }}"
        (keyup.enter)="login()"
      />

      @if (passwordInput.invalid && passwordInput.touched)
      {
        <div>
        {{ 'PASSWORD_REQUIRED' | translate }}
      </div>
      }
      @if (passwordInput.errors?.['minlength']) {
            {{ 'PASSWORD_TOO_SHORT' | translate }}
          }

      <br><br>

      <button
            type="submit"
            class="login-btn"
            [disabled]="
              usernameInput.invalid ||
              passwordInput.invalid ||
              loading
            "
      >
          {{ loading ? ('LOADING' | translate) : ('LOGIN' | translate) }}
      </button>
    
    </form>

  </div>

</div>