.login-container {

  display: flex;

  justify-content: flex-start;

  align-items: center;

  flex-direction: column;

  min-height: 100vh;

  padding-top: 80px;

  background-color: #f5f6fa;

}

.login-card {

  background: white;

  margin-top: 20px;

  padding: 30px;

  border-radius: 10px;

  width: 320px;

  box-shadow:
    0 4px 12px
    rgba(0,0,0,0.1);

}

h2 {

  text-align: center;

  margin-bottom: 20px;

}

label {

  font-weight: 500;

  display: block;

  margin-top: 10px;

}

input {

  width: 100%;

  padding: 10px;

  margin-top: 5px;

  border-radius: 6px;

  border: 1px solid #ccc;

}

button {

  width: 100%;

  padding: 10px;

  margin-top: 20px;

  border: none;

  border-radius: 6px;

  background-color: #1976d2;

  color: white;

  font-weight: bold;

  cursor: pointer;

}

button:disabled {

  background-color: #aaa;

  cursor: not-allowed;

}

.error {

  color: red;

  font-size: 13px;

  margin-top: 5px;

}

.login-btn {
  width: 100%;

  margin-top: 18px;

  padding: 12px;

  font-size: 16px;

  border-radius: 8px;

  background-color: #1976d2;

  color: white;

  border: none;

  cursor: pointer;

  transition: 0.2s;
}

* {
  box-sizing: border-box;
}

.login-btn:hover {
  opacity: 0.9;
}