<h2>Create Task</h2>

<form (ngSubmit)="createTask()">

  <div>
    <label>Title:</label>
    <input
      type="text"
      [(ngModel)]="task.title"
      required
      minlength="3"
      maxlength="100"
      #titleInput="ngModel"
      placeholder="Enter task title"
    />

    @if (titleInput.invalid && titleInput.touched) {
      <div>
        Title is required.
      </div>
    }

     @if (titleInput.errors?.['minlength']) {
      Minimum 3 characters
    }

     @if (titleInput.errors?.['maxlength']) {
      Maximum 100 characters
    }
  </div>

  <br>

  <div>
    <label>Description:</label>
    <input
      type="text"
      [(ngModel)]="task.description"
      name="description"
    />
  </div>

  <br>

  <div>
    <label>Status:</label>
    <select
      [(ngModel)]="task.status"
      name="status"
    >
      <option value="Pending">
        Pending
      </option>

      <option value="Completed">
        Completed
      </option>
    </select>
  </div>

  <br>

  <button type="submit">
    Create Task
  </button>

</form>