<div class="container">
  <h2>{{ 'TASK_LIST' | translate }}</h2>

  <button routerLink="/tasks/create">{{ 'CREATE_TASK' | translate }}</button>

  <br /><br />

  <div class="filters">
    <input type="text" class="searchButton" placeholder="{{ 'SEARCH' | translate }}" [(ngModel)]="search" />

    <select [(ngModel)]="status">
      <option [ngValue]="undefined">{{ 'ALL_STATUS' | translate }}</option>
      <option [ngValue]="0">{{ 'PENDING' | translate }}</option>
      <option [ngValue]="1">{{ 'IN_PROGRESS' | translate }}</option>
      <option [ngValue]="2">{{ 'COMPLETED' | translate }}</option>
    </select>

    <select [(ngModel)]="sortBy">
      <option value="createdAt">{{ 'CREATED_DATE' | translate }}</option>
      <option value="title">{{ 'TITLE' | translate }}</option>
    </select>

    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="sortDescending" />
      {{ 'DESCENDING' | translate }}
    </label>

    <button (click)="loadTasks()">{{ 'APPLY' | translate }}</button>
  </div>

  <br />

  <div *ngIf="isLoading">{{ 'LOADING' | translate }}</div>

  <div class="table-wrapper">
    <table border="1" *ngIf="!isLoading">
      <tr>
        <th>{{ 'TITLE' | translate }}</th>
        <th>{{ 'STATUS' | translate }}</th>
        <th>{{ 'ACTIONS' | translate }}</th>
      </tr>

      <tr *ngFor="let task of tasks">
        <td>
          {{ task.title }}
        </td>

        <td>
          {{ task.statusName | titlecase }}
        </td>

        <td class="actions">
          <button [routerLink]="['/tasks/edit', task.id]">{{ 'EDIT' | translate }}</button>

          <button (click)="deleteTask(task.id)" [disabled]="deletingId === task.id">
            {{ (deletingId === task.id ? 'DELETING' : 'DELETE') | translate }}
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="mobile-task-list">

  <div class="task-card" *ngFor="let task of tasks">

    <div class="task-card-title">
      {{ task.title }}
    </div>

    <div class="task-card-status">
      {{ task.statusName | titlecase }}
    </div>

    <div class="task-card-actions">

      <button
        [routerLink]="['/tasks/edit', task.id]"
      >
        {{ 'EDIT' | translate }}
      </button>

      <button
        (click)="deleteTask(task.id)"
        [disabled]="deletingId === task.id"
      >
        {{ (deletingId === task.id ? 'DELETING' : 'DELETE') | translate }}
      </button>

    </div>

  </div>

</div>


  @if (!isLoading && tasks.length === 0) {
    <div>{{ 'NO_TASKS_FOUND' | translate }}</div>
  }

  <br />

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="page === 1">{{ 'PREVIOUS' | translate }}</button>

    <span> {{ 'PAGE' | translate }} {{ page }} / {{ totalPages }} </span>

    <button (click)="nextPage()" [disabled]="page === totalPages">{{ 'NEXT' | translate }}</button>
  </div>
</div>

<app-confirm-dialog
  *ngIf="showDeleteDialog"
  [message]="confirmMessage"
  (confirmed)="confirmDelete()"
  (cancelled)="cancelDelete()">
</app-confirm-dialog>