.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;

  background-color: #2f6fb3;
  color: white;

  font-weight: 600;
}

.navbar-title {
  font-size: 18px;
}

.logout-btn {

  background-color: #e74c3c;

  color: white;

  border: none;

  padding: 6px 14px;

  border-radius: 6px;

  cursor: pointer;

  font-size: 14px;

  transition: 0.2s;

}

button {
  padding: 8px 16px;

  border-radius: 6px;

  border: none;

  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  min-width: 120px;
}